{% extends 'blog/base.html' %}
<!-- load crsipy forms -->
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <!-- create a legend -->
                <h1 class="display-6 border-bottom">
                    Register
                </h1>

                <!-- show alert messages here -->
                {% if messages %}
                <!-- messages -> list -->
                    {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}">
                        {{msg}}
                    </div>
                    {% endfor %}
                {% endif %}
                <!-- crispy forms  -->
                {{form|crispy}}
            </div>

            <div class="form-group">
                <button class="btn btn-outline-info btn-block">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}